<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Cinzel+Decorative:700" rel="stylesheet" />
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('about') }}" class="navbar-item">About</a>
        <a href="{{ url_for('blog') }}" class="navbar-item">Blog</a>
        <div class="dropdown">
            <button class="dropbtn">Games</button>
            <div class="dropdown-content">
                <a href="{{ url_for('guessthenumber')}}">Guess The Number</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr />
        <footer class="navbar">
            <a href="mailto:coreyjacob2002@gmail.com">Email</a>
        </footer>
    </div>
</body>



</html>